.modalContainer {
  min-width: 300px;
  max-width: 90vw;
  min-height: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  border-radius: 20px;
  border: 2px solid 03506f;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 7px #555, -3px -3px 7px #555;
}

.modalContainer:focus {
  outline: none;
}

.itemContainer {
  width: 80%;
  height: auto;
  margin: 30px auto;
}

.label {
  color: #719fb0;
  font-weight: bold;
  margin-bottom: 7px;
}

.input,
.textarea {
  width: 100%;
  background-color: #b3ccd4;
  padding: 1rem;
  border-radius: 0.5rem;
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  outline: none;
}

.textarea {
  height: 10rem;
  overflow: scroll;
  line-height: 1.4rem;
}

.input:hover,
.textarea:hover {
  background-color: beige;
  box-shadow: 2px 2px 5px #555;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-submit,
.btn-cancel {
  width: 12rem;
  height: 3rem;
  border: 0;
  outline: none;
  box-sizing: border-box;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #83acf1;
  color: #fff;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 20px;
  border-radius: 20px;
}

.btn-cancel {
  background-color: hsl(34, 80%, 73%);
}

.btn-submit:hover,
.btn-cancel:hover {
  box-shadow: 2px 2px 5px rgb(26, 25, 25);
}
